.bottom-nav{
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	justify-content: space-evenly;
	background-color: rgb(197, 0, 0);
	width: 100%;
	gap: 4%;
	padding: 10px 0;
	z-index: 10;
}
.nav-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	width: 100%;
	gap: 5px;
	text-align: center;
	padding: 0; 
	cursor: pointer;
}
.nav-item:hover .icon-wrapper{
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	padding-left: 26px;
	padding-right: 26px;
	transition: all 0.15s ease-out;

}
.icon-wrapper {
	display: flex;
	align-items: center;
	width: 2px;
	justify-content: center;
	padding-top: 3px;
	padding-bottom: 3px;
	position: relative;
	border-radius: 15px;
	transition: padding 0.8s ease-out, background-color 0.2s ease-out;
}
.nav-item-active .icon-wrapper::before {
	content: "";
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 54px;     
	height: 30px;    
	background: rgba(0, 0, 0, 0.25);
	border-radius: 15px;

	z-index: -1;
}

.no-color{
	text-decoration: none;
	color: inherit;
}

.mdc-top-app-bar__row{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 14px;
	padding: 10px;
}

.mdc-top-app-bar__title{
	display: flex;
	width: 100%;
	height: 54px;
	border-radius: 42px;
	background-color: red;
	justify-content: center;
	align-items: center;
}
.mdc-top-app-bar__section{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 42px;
}

.shelfStyle{
    position: fixed;
    top: 0;
    left: -100%;     /* hidden outside */
    width: 200px;
    height: 100%;
    background: white;
    transition: left 0.3s ease;
    z-index: 900;
}
.shelfList{
	display: flex;
	flex-direction: column;
	padding-top: 64px;
}
.shelfListBtn{
	display: flex;
	align-items: center;
	padding: 15px;
	padding-left: 25px;
}
.shelfBlur{
	position: fixed;
    left: -100%;     /* hidden outside */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 899;
    transition: background-color 0.3s ease-out;
}
.shelfBlur.open{
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}


.shelfStyle.open {
    left: 0;         /* slides in */
}

.threeDotMenuWindow {
	position: fixed;
    bottom: -70%;     /* hidden outside */
    width: 100%;
    height: 70%;
    background: white;
    transition: bottom 0.3s ease;
    z-index: 1000;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
.threeDotMenuWindow.open {
	bottom: 0;
}

.threeDotMenuWindowBlur{
	position: fixed;
    bottom: -100%;     /* hidden outside */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 999;
    transition: background-color 0.3s ease-out;
}
.threeDotMenuWindowBlur.open {
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	
}

.threeDotMenuWindowTop{
	display: flex;
	padding: 10px;
	flex-direction: row-reverse;
}


.menuBtnHamburg{
	
	height: 42px;
	width: 42px;
}





.Banner{
	
	background-color: green;
	
}
.Title{
	margin: 0px;
	padding: 10px;
	
	height: 20px;
}

.ribbon{
		
	flex-grow: 1;
	
}


.md-tabs_display-block{
	display: block;
}

.page{
	height: 100%;
	background-color: lightpink;
	padding: 10px;
	
}

.ribb-btn{
	border-radius: 20px;
	width: 100%;
}
.ribb-row {
	display: flex;
	justify-content: space-between;
	gap: 5px;
	width: 100%;
	z-index: 100;
}

