.Banner{
	background-color: rgb(54, 195, 54);	
}
.topAppBar{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 8px;
	padding: 4px;
}
#navDrawerMenuBtn{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 56px;
	width: 56px;
	--_focus-icon-color: white;
	--_hover-icon-color: white;
	--_icon-color: white;
	--_pressed-icon-color: white;
	--_pressed-state-layer-color: white;
}
#navDrawerMenuIcon{
	height: 56px;
}
.topSearchField{
	display: flex;
	width: 100%;
	height: 56px;
	border-radius: 26px;
	background-color: red;
	justify-content: space-between;
	gap: 1px;
	align-items: center;
}
#threeDotMenuBtn{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 56px;
	width: 56px;
	--_focus-icon-color: white;
	--_hover-icon-color: white;
	--_icon-color: white;
	--_pressed-icon-color: white;
	--_pressed-state-layer-color: white;
}
#threeDotMenuIcon.material-icons{
	height: 56px;
	font-size: 28px;
}
.ribb-row {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	z-index: 100;
	margin-right: 4px;
}
#advancedToggleBtn.advancedDisabled{
	background: transparent;
	--_hover-label-text-color: white;
	--_label-text-color: white;
	--_pressed-label-text-color: white;
	--_focus-label-text-color: white;
	--md-sys-typescale-label-large-size: 18px;
	font-weight: 600;
	--md-outlined-button-outline-width: 1.5px;
	--_outline-color: rgba(0, 0, 0, 0.5);
	--_pressed-outline-color: rgba(0, 0, 0, 0.5);
	--md-outlined-button-icon-size: 24px;
	--md-outlined-button-icon-color: white;
	--md-outlined-button-hover-icon-color: white;
	--_pressed-icon-color: white;
	--_focus-icon-color: white;
	transition: all 0.3s ease;
}
#advancedToggleBtn.advancedEnabled{
	background: #135200;
	--_hover-label-text-color: white;
	--_label-text-color: white;
	--_pressed-label-text-color: white;
	--_focus-label-text-color: white;
	--md-sys-typescale-label-large-size: 18px;
	font-weight: 350;
	--md-outlined-button-outline-width: 0px;
	--md-outlined-button-icon-size: 24px;
	--md-outlined-button-icon-color: white;
	--md-outlined-button-hover-icon-color: white;
	--_pressed-icon-color: white;
	--_focus-icon-color: white;
	transition: all 0.3s ease;
}


.navDrawerListCathegory{
	font-size: 14px;
	padding: 19.6px;
}


.navDrawerListItem {
	
	border-radius: 56px;
	display: flex;
	height: 44px;
	align-items: center;
	margin: 0 24px 0 16px;
	padding: 6px 0;
	--md-list-item-leading-icon-color: black;
	transition: background-color 0.3s ease;
}
#navDrawerListItemActive{
	background-color: rgba(0, 238, 255, 0.25);
}
.navDrawerStyle{
    position: fixed;
    top: 0;
    left: -240px;     
    width: 240px;
    height: 100%;
	border-top-right-radius: 16px;
    background: white;
    transition: left 0.3s ease;
    z-index: 900;
}
.navDrawerBlur{
	position: fixed;
	top: 0;
    left: 0;     
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
	pointer-events: none;
    z-index: 899;
    transition: background-color 0.3s ease-out;
}
.navDrawerBlur.open{
	pointer-events: auto;
	background-color: rgba(0, 0, 0, 0.5);
}


.navDrawerStyle.open {
    left: 0;
}









.nav-bar{
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	justify-content: space-evenly;
	background-color: rgb(197, 0, 0);
	width: 100%;
	gap: 4px;
	padding: 6px 0;
	z-index: 10;
}
.nav-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	width: 100%;
	gap: 4px;
	text-align: center;
	padding: 0; 
	cursor: pointer;
}
.nav-item:hover .icon-wrapper{
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	padding-left: 26px;
	padding-right: 26px;
	transition: all 0.15s ease-out;

}
.icon-wrapper {
	display: flex;
	align-items: center;
	width: 4px;
	justify-content: center;
	height: 32px;
	position: relative;
	border-radius: 16px;
	transition: padding 0.8s ease-out, background-color 0.2s ease-out;
}
.nav-item-active .icon-wrapper::before {
	content: "";
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 56px;     
	height: 32px;    
	background: rgba(0, 0, 0, 0.25);
	border-radius: 15px;

	z-index: -1;
}

.no-color{
	text-decoration: none;
	color: inherit;
}








.threeDotMenuWindow {
	position: fixed;
    bottom: -70%;     
    width: 100%;
    height: 70%;
    background: white;
    transition: bottom 0.3s ease;
    z-index: 1000;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
.threeDotMenuWindow.open {
	bottom: 0;
}
#threeDotMenuClose{
	height: 56px;
	width: 56px;
	--_container-color: rgba(0, 0, 0, 0.06);
}
#threeDotMenuClose #threeDotMenuCloseX{
	font-size: 28px;
}
.threeDotMenuWindowBlur{
	position: fixed;
    top: 0;
	left: 0;
    width: 100%;
    height: 100%;
	pointer-events: none;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 999;
    transition: background-color 0.3s ease-out;
}
.threeDotMenuWindowBlur.open {
	pointer-events: auto;
	background-color: rgba(0, 0, 0, 0.5);
	
}

.threeDotMenuWindowTop{
	display: flex;
	padding: 10px;
	flex-direction: row-reverse;
}
.threeDotMenuItem{
	display: flex;
	height: 44px;
	align-items: center;
	
	padding: 6px 0;
}








.Title{
	margin: 0px;
	padding: 10px;
	
	height: 20px;
}

.ribbon{
		
	flex-grow: 1;
	
}




.page{
	height: 100%;
	background-color: lightpink;
	padding: 10px;
	
}

.ribb-btn{
	border-radius: 20px;
	width: 100%;
}


