.bottom-nav{
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	justify-content: space-evenly;
	background-color: lightgoldenrodyellow;
	width: 100%;
	gap: 4%;
	padding: 10px 0;
	z-index: 10;
}
.nav-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	width: 100%;
	gap: 5px;
	text-align: center;
	padding: 0;
	cursor: pointer;
}
.nav-item:hover .icon-wrapper{
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	padding-left: 26px;
	padding-right: 26px;
	transition: all 0.15s ease-out;

}
.icon-wrapper {
	display: flex;
	align-items: center;
	width: 2px;
	justify-content: center;
	padding-top: 3px;
	padding-bottom: 3px;
	position: relative;
	border-radius: 15px;
	transition: padding 0.8s ease-out, background-color 0.2s ease-out;
}
.nav-item-active .icon-wrapper::before {
	content: "";
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 54px;     
	height: 30px;    
	background: rgba(0, 0, 0, 0.25);
	border-radius: 15px;

	z-index: -1;
}

.no-color{
	text-decoration: none;
	color: inherit;
}

.mdc-top-app-bar__row{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 20px;
}

.mdc-top-app-bar__title{
	display: flex;
	width: 100%;
	height: 120%;
	border-radius: 24px;
	background-color: red;
	justify-content: center;
	align-items: center;
}




.Banner{
	
	padding: 10px;
	padding-bottom: 0;
	background-color: green;
	

.Title{
	margin: 0px;
	padding: 10px;
	
	height: 20px;
}

.ribbon{
		
	flex-grow: 1;
	
}



.page{
	height: 100%;
	background-color: lightpink;
	padding: 10px;
	
}

.ribb-btn{
	border-radius: 20px;
	width: 100%;
}
.ribb-row {
	display: flex;
	justify-content: space-between;
	gap: 5px;
	margin-top: 10px;
	width: 100%;
	min-height: 30px;
	z-index: 100;
}

